/**
 * feuille css pour l'affichage en général
 */

html {
    font-size: 14px;
    font-family: Bahnschrift;
}

.clean-block.clean-info.dark {
    padding-bottom: 0px;
    margin-top: 40px;
    height: auto;
    min-height: 750px;
    background: var(--bs-gray-500);
}


.clean-block.add-on.call-to-action.blue {
    height: 60px;
    padding: 9px 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text-info {
    padding-top: 20px;
}

.clean-block.add-on.call-to-action.blue {
    margin-top: 0px;
}

.auteurs {
    font-size: 20px;
    margin-top: 16px;
    padding-top: 0px;
}

.textNav {
    font-size: 16px;
}

.logoPrincipal {
    width: 100px;
}

.col-md-6ImgAccueil {
    width: 500px;
    text-align: center;
}

.col-md-6Img {
    width: 300px;
    text-align: center;
}

.col-md-6Texte {
    width: 800px;
}

.imgItem {
    width: 250px;
    text-align: center;margin-left: 20px;
}

.row.align-items-center {
    margin-top: 10px;
    margin-bottom: 10px;
}

.boite-liste > a {
    color: var(--bs-body-color);
    text-decoration: none;
}